<body>
<form class="row g-3" style="margin-top: 50px; margin-left: 50px; margin-right: 50px; background-color: rgba(0, 0, 0, 0.1); border-radius: 10px;">
  
        <mat-form-field>
            <mat-label >Nombre del producto</mat-label>
            <input matInput >
          </mat-form-field>

    <mat-form-field>
        <mat-label style="font-size: 12px;margin-left: 10px;">Descripción</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>       

    <div class="col-md-2">  
        <mat-form-field>
            <mat-label>Estado del producto</mat-label>
            <mat-select>
              <mat-option value="one">Nuevo</mat-option>
              <mat-option value="two">Usado</mat-option>
            </mat-select>
            </mat-form-field>
    </div>   
    <div class="col-md-1">  
        <mat-form-field floatLabel="always">
            <mat-label>Precio</mat-label>
            <input matInput type="number" class="example-right-align" placeholder="0" />
            <span matTextPrefix>CLP&nbsp;</span>
          </mat-form-field>
    </div>   
    <div class="mb-3">
        <label for="formFile" class="form-label">Imagen</label>
        <input class="form-control" type="file" id="formFile">
    </div>  
    <div class="col-12" style="margin-bottom: 25px;">
        <button mat-raised-button style="background: #4e4e4e;color: aliceblue;">Publicar</button>
    </div>
</form>
</body>